<div class="day">
  <mat-label class="day-label"> {{ dayLabel }} </mat-label>
  <mat-form-field class="meal-amount">
    <mat-label>num</mat-label>
    <input
      type="number"
      min="0"
      max="250"
      [defaultValue]="0"
      required
      matInput
      matNativeControl
    />
  </mat-form-field>
  @for (mealName of numberOfMeals$ | async | numSequence; track $index) {
    <mat-form-field class="meal-name">
      <mat-label>Meal {{ mealName }}</mat-label>
      <mat-select required>
        @for (recepie of recipies$ | async; track recepie.id) {
          <mat-option [value]="recepie.id">
            {{ recepie.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
